body{
    background-color: lightblue;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em;
}
.wrapper{
    background-color: rgba(140, 173, 157);
    border-radius: 15px;
}
h1{
    color: navy;
    margin: 20px;
}
button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0111f5;
    color: whitesmoke;
}
